@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

#navbar-container {
    width: 100%;
    position: relative;
    z-index: 1000;
}

body {
    padding-top: 100px;
    font-family: 'Orbitron', sans-serif;
    background: #1a1a2e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow-y: auto;
}

.container {
    margin-top:10px;
    width: 90%;
    max-width: 1000px;
    padding: 10px;
    background: rgba(25, 20, 50, 0.9);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
    color: white;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 25px;
    color: #fff;
    text-shadow: 0px 0px 10px #ff00ff, 0px 0px 20px #8a2be2;
    text-transform: uppercase;
}

#game-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 570px;
    background: rgba(50, 20, 70, 0.9);
    padding: 6px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(255, 0, 255, 0.8);
    font-size: 15px;
}

#game-info i {
    margin-right: 8px;
    color: #ff33cc;
}

canvas {
    background: #000;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(255, 0, 255, 0.8);
    margin-top: 20px;
}

button {
    padding: 12px 20px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.start-btn, .start-btn:disabled{
    background: linear-gradient(90deg, #ff0066, #ff33cc);
    color: white;
    box-shadow: 0 0 15px rgba(255, 0, 255, 0.8);
}

.start-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px rgba(255, 0, 255, 1);
}

@media screen and (max-width: 768px) {
    .container {
        width: 95%;
    }

    #game-info {
        flex-direction: column;
        align-items: center;
        font-size: 16px;
    }

}

